body {
  font-family: sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(3, 130px);
  grid-template-rows: repeat(3, 130px);
}

.cell {
  border: 1px solid black;
  font-size: 100px;
  text-align: center;
}

.container .cell:first-of-type,
.container .cell:nth-of-type(2),
.container .cell:nth-of-type(3) {
  border-top: none;
}
.container .cell:last-of-type,
.container .cell:nth-of-type(7),
.container .cell:nth-of-type(8) {
  border-bottom: none;
}
.container .cell:first-of-type,
.container .cell:nth-of-type(4),
.container .cell:nth-of-type(7) {
  border-left: none;
}
.container .cell:last-of-type,
.container .cell:nth-of-type(3),
.container .cell:nth-of-type(6) {
  border-right: none;
}
